.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color:beige
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color:beige
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    color:beige
}
.MuiPickersLayout-contentWrapper{
    
    background-color: rgb(240, 201, 201) !important;
}

.MuiPickersLayout-root{
   
    background-color: rgb(247, 222, 247) !important;
    
}