@import-normalize;
/* setup de tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1976d2;
  --color-secondary: #dc004e;
  --color-success: #4caf50;
  /* Define otros colores según sea necesario */
}

/* setup del fondo */
body {
  @apply dark:bg-neutral-900;
  /* background: #202020; */
  color: white;
}

.calendar {
  /* Estilos generales del calendario */
  
  width: 1000px;
}

.navigation {
  /* Estilos para la barra de navegación del calendario */
  background-color: grey;
}

.days-grid {
 
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr); 
  
}

.box {
  color: white;
  text-align: center;
  width: 100%;
}
.day, .empty {
  border: 3px solid #ccc; /* Borde de las celdas */
   padding: 10px;  /*Espaciado interior*/
 
}
:hover.day{
  border-color: aqua;
}

.row {
  display: flex;
  /* 
  flex-direction: column; */
}


